* {
    text-align: center;
}

h1,h2,h3{
    font-family: 'Fira Mono', serif;	
    font-size: 250%;
    padding: 1%;
}

.body{
    font-family: 'Georgia', serif;
    font-size: 120%;
    margin-left: 2%;
}